.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* .create-new-project {
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
} */

/* input {
  margin-bottom: 15px;
} */

.main-content {
  display: flex;
  /* flex: 1; */
  padding: 20px;
}

.bar-chart {
  flex: 2;
  padding-right: 20px;
}

.bars {
  margin-top: 20px;
}

.bar-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.bar {
  height: 30px;
  border-radius: 4px;
  position: relative;
  background-color: #ccc;
  transition: width 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  border: 1px solid #666666;
}

.resources {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ccc;
}

.resource-fte-box {
  padding-left: 10px;
  background-color: #f9f9f9;
}

.resource-fte-inputs {
  display: flex;
  justify-content: space-between;
}

.bar-chart-placeholder {
  width: 100%;
  height: 400px;
  background-color: #ddd;
}
