.dashboard {
  display: flex;
  margin: 50px 20px;
}

.new-project-box,
.resource-box,
.large-box {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.new-project-box {
  flex: 1;
}

.resource-box {
  flex: 1;
}

.large-box {
  flex: 2;
  background-color: #f8f8f8;
  min-height: 300px;
}